services:
    -
        class: Itera\PHPStan\AggregatorContextVisitor
        tags:
            - phpstan.parser.richParserNodeVisitor
    -
        class: Itera\PHPStan\PipeAggregatorContextVisitor
        tags:
            - phpstan.parser.richParserNodeVisitor
    -
        class: Itera\PHPStan\AggregatorCallbackTypeExtension
        tags:
            - phpstan.functionParameterClosureTypeExtension
    -
        class: Itera\PHPStan\AggregatorFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: Itera\PHPStan\CollectFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: Itera\PHPStan\CombineFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: Itera\PHPStan\SequenceAggregateReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Itera\PHPStan\PipeFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
